.logo {
    width: 50% !important;
}
.logo img {
    width: 100% !important;
    pointer-events: none;
}

img {
    pointer-events: none;
}

.navbar {
    width: 100%;
    padding: 10px 25px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    background-color: #0d3956 !important;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.navbar nav {
    box-shadow: none !important;
    background-color: #115c89!important;
}

.con {
    background-color: red;
    width: 80%;
    position: relative;
}